In [1]:
import pandas as pd

In [3]:
url_lis=[]
for i in range(10,13):
    url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{i}.csv.gz'
    url_lis.append(url)

In [4]:
url_lis

['https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz',
 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz',
 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz']

In [5]:
dff=(pd.read_csv(files) for files in url_lis)

In [6]:
dff

In [7]:
fdf=pd.concat((pd.read_csv(files) for files in url_lis),ignore_index=True)

C:\Users\krishna\AppData\Local\Temp\ipykernel_18664\2140170406.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  fdf=pd.concat((pd.read_csv(files) for files in url_lis),ignore_index=True)
C:\Users\krishna\AppData\Local\Temp\ipykernel_18664\2140170406.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  fdf=pd.concat((pd.read_csv(files) for files in url_lis),ignore_index=True)
C:\Users\krishna\AppData\Local\Temp\ipykernel_18664\2140170406.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  fdf=pd.concat((pd.read_csv(files) for files in url_lis),ignore_index=True)

In [10]:
fdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266855 entries, 0 to 266854
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               147393 non-null  float64
 1   lpep_pickup_datetime   266855 non-null  object
 2   lpep_dropoff_datetime  266855 non-null  object
 3   store_and_fwd_flag     147393 non-null  object
 4   RatecodeID             147393 non-null  float64
 5   PULocationID           266855 non-null  int64
 6   DOLocationID           266855 non-null  int64
 7   passenger_count        147393 non-null  float64
 8   trip_distance          266855 non-null  float64
 9   fare_amount            266855 non-null  float64
 10  extra                  266855 non-null  float64
 11  mta_tax                266855 non-null  float64
 12  tip_amount             266855 non-null  float64
 13  tolls_amount           266855 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  266855 non-null  float64
 16  total_amount           266855 non-null  float64
 17  payment_type           147393 non-null  float64
 18  trip_type              147393 non-null  float64
 19  congestion_surcharge   147393 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 40.7+ MB

In [11]:
fdf.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [ ]:
import io
import pandas as pd
import requests
if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test


@data_loader
def load_data_from_api(*args, **kwargs):
    """
    Template for loading data from API
    """
    url_lis=[]
    for i in range(10,13):
        url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{i}.csv.gz'
        url_lis.append(url)
    taxi_dtypes = {
                    'VendorID': pd.Int64Dtype(),
                    'passenger_count': pd.Int64Dtype(),
                    'trip_distance': float,
                    'RatecodeID':pd.Int64Dtype(),
                    'store_and_fwd_flag':str,
                    'PULocationID':pd.Int64Dtype(),
                    'DOLocationID':pd.Int64Dtype(),
                    'payment_type': pd.Int64Dtype(),
                    'trip_type':pd.Int64Dtype(),
                    'fare_amount': float,
                    'extra':float,
                    'mta_tax':float,
                    'tip_amount':float,
                    'tolls_amount':float,
                    'improvement_surcharge':float,
                    'total_amount':float,
                    'congestion_surcharge':float
                }

    # native date parsing 
    parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']
    fdf=pd.concat((pd.read_csv(files) for files in url_lis),ignore_index=True)
    icsv=fdf.to_csv()
    return pd.read_csv(icsv, sep=',',dtype=taxi_dtypes, parse_dates=parse_dates)


@test
def test_output(output, *args) -> None:
    """
    Template code for testing the output of the block.
    """
    assert output is not None, 'The output is undefined'

In [17]:
#1. 266,855 rows x 20 columns

In [21]:
ndf=fdf.columns

In [22]:
ndf

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [35]:
ndf=fdf[(fdf['passenger_count']>0)&(fdf['trip_distance']>0)]

In [36]:
ndf

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230012,2.0,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1.0,41,74,1.0,0.79,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2.0,1.0,0.0
230013,2.0,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5.0,41,116,2.0,2.31,12.0,0.0,0.0,0.00,0.0,NaN,0.3,12.30,2.0,2.0,0.0
230014,2.0,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5.0,116,119,1.0,5.73,20.0,0.0,0.0,0.00,0.0,NaN,0.3,20.30,2.0,2.0,0.0
230015,2.0,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1.0,42,42,1.0,0.31,3.5,0.5,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.0
230016,2.0,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1.0,75,167,1.0,3.74,15.0,0.5,0.5,1.00,0.0,NaN,0.3,17.30,1.0,1.0,0.0

In [37]:
#2.139370 rows × 20 columns

In [38]:
#3.data['lpep_pickup_date'] = data['lpep_pickup_datetime'].dt.date

In [39]:
fdf['VendorID'].unique()

array([ 2.,  1., nan])

In [40]:
#4.1 or 2

In [41]:
#5. 4

In [ ]:
#6. 56